parameters:
	ignoreErrors:
		-
			message: '#^Constant NMMPRO_ABS_PATH not found\.$#'
			identifier: constant.notFound
			count: 1
			path: nomiddleman-crypto-woocommerce.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: nomiddleman-crypto-woocommerce.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 2
			path: nomiddleman-crypto-woocommerce.php

		-
			message: '#^Constant NMMPRO_PLUGIN_DIR not found\.$#'
			identifier: constant.notFound
			count: 3
			path: src/NMMPRO_Admin.php

		-
			message: '#^Constant NMMPRO_REDUX_SLUG not found\.$#'
			identifier: constant.notFound
			count: 2
			path: src/NMMPRO_Admin.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, float\|int given\.$#'
			identifier: argument.type
			count: 2
			path: src/NMMPRO_Admin.php

		-
			message: '#^Parameter \#1 \$text of function esc_attr expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/NMMPRO_Admin.php

		-
			message: '#^Call to function method_exists\(\) with ''NMMPRO_Monero'' and ''plan_request'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/NMMPRO_Blockchain.php

		-
			message: '#^Call to function method_exists\(\) with ''NMMPRO_Monero'' and ''validate_rpc_url'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/NMMPRO_Blockchain.php

		-
			message: '#^Strict comparison using \!\=\= between mixed and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/NMMPRO_Blockchain.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/NMMPRO_Blockchain.php

		-
			message: '#^Constant NMMPRO_PLUGIN_FILE not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/NMMPRO_Blocks_Support.php

		-
			message: '#^Constant NMMPRO_PLUGIN_DIR not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/NMMPRO_Cryptocurrency.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: src/NMMPRO_Gateway.php

		-
			message: '#^Constant NMMPRO_PLUGIN_DIR not found\.$#'
			identifier: constant.notFound
			count: 3
			path: src/NMMPRO_Gateway.php

		-
			message: '#^Constant NMMPRO_REDUX_SLUG not found\.$#'
			identifier: constant.notFound
			count: 1
			path: src/NMMPRO_Gateway.php

		-
			message: '#^Method NMMPRO_Gateway\:\:validate_fields\(\) should return bool but empty return statement found\.$#'
			identifier: return.empty
			count: 2
			path: src/NMMPRO_Gateway.php

		-
			message: '#^Method NMMPRO_Gateway\:\:validate_fields\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: src/NMMPRO_Gateway.php

		-
			message: '#^Property NMMPRO_Gateway\:\:\$gapLimit is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/NMMPRO_Gateway.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 3
			path: src/NMMPRO_Gateway.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/NMMPRO_Hd.php

		-
			message: '#^Parameter \#2 \$is_customer_note of method WC_Order\:\:add_order_note\(\) expects int, true given\.$#'
			identifier: argument.type
			count: 3
			path: src/NMMPRO_Hd.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/NMMPRO_Hooks.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: src/NMMPRO_Hooks.php

		-
			message: '#^Variable \$_POST in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: src/NMMPRO_Hooks.php

		-
			message: '#^Comparison operation "\>" between int\<1, max\> and 0 is always true\.$#'
			identifier: greater.alwaysTrue
			count: 1
			path: src/NMMPRO_Payment.php

		-
			message: '#^Parameter \#2 \$is_customer_note of method WC_Order\:\:add_order_note\(\) expects int, true given\.$#'
			identifier: argument.type
			count: 1
			path: src/NMMPRO_Payment.php

		-
			message: '#^Parameter \#1 \$number of function round expects float, string given\.$#'
			identifier: argument.type
			count: 2
			path: src/NMMPRO_Settings.php

		-
			message: '#^Constant DB_NAME not found\.$#'
			identifier: constant.notFound
			count: 3
			path: src/NMMPRO_Util.php
